@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  overflow: hidden;
}

.filter-blur {
  filter: blur(120px);
}

.hide {
  display: none;
}

#item:hover .hide {
  display: block;
}

.item-movie-wrapper:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
